body {
    display: flex;
    flex-wrap: wrap;
}

header {
    border-radius: 15px;
    width: 100%;
    background-color: rgb(199, 82, 195);
}

footer {
    margin-top: 20px;
    border-radius: 15px;
    width: 100%;
    background-color: rgb(199, 82, 195);
}

.text_header {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: relative; left: 10%;
    width: fit-content;
}

.info_header {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: relative; left: 15%;
    width: fit-content;
}

#ppIMG {
    width: 130px;
    position: absolute; top: 13px; right: 5%;
}

.info_footer {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: relative; left: 5%;
    width: fit-content;
}

section {
    flex-basis: 100%;
}

.text {
    margin-top: 2px;
    margin-bottom: 15px;
    position: relative; left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 11, 11);
    width: fit-content;
}

.left_text {
    font-size: 100%;
    position: relative; left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 11, 11, 0.5);
    width: fit-content;
}

.right_text {
    font-size: 90%;
    position: absolute; right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 11, 11, 0.5);
    width: fit-content;
}   

.titre {
    position: relative; left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 11, 11);
    width: fit-content;
}
